.favouritescontainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    column-gap: 20px;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 15px;
    margin: 20px;
    height: 500px;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    row-gap: 20px;
    overflow-y: auto;
}



/* Home */
.maphome{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #000;
}

/* .maphome button{
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #000000;
    padding: 10px;

} */

.firstcont{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}