.mypostscontainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    column-gap: 20px;
    background-color: #ffffff;
    border: 2px solid #000;
    border-radius: 15px;
    margin: 20px;
    height: 500px;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    row-gap: 20px;
    overflow-y: auto;
}